.objectives-editing-main-container {
    background-color: #1a1d24;
    min-height: 400pt;
    width: 100%;
    outline: 1px solid #373a3f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8pt;
}
