.objectives-editing-main-container {
    background-color: #1a1d24;
    min-height: 400pt;
    width: 100%;
    outline: 1px solid #373a3f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8pt;
}

.quest-gen-window-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15pt;
}

.quest-gen-editor-window {
    min-height: 16em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quest-gen-editor-window {
    max-height: 25em;
    overflow-y: auto;
    padding: 4pt;
}

.yaml-textarea {
    font-family: monospace;
    font-size: small;
    min-height: 18em;
}

.quest-gen-editor-window > p {
    margin: 4pt;
    font-size: larger;
    width: 96%;
    text-align: center;
}

.objectives-render-item {
    width: 100%;
}

.objectives-editing-task {
    width: 100%;
    text-align: left;
    background-color: #0f131a;
    border-radius: 4pt;
    margin: 2pt 0;
    padding-left: 4pt;
    padding: 2pt;
}

.objectives-editing-task:nth-child(2n) {
    background-color: #0f131aaa;
}

.objectives-editing-task code {
    opacity: .5;
}

.objectives-editing-edit-task-link {
    color: white;
    padding: 1pt;
}