/venv
/storage

backend/storage
backend/.venv
backend/.env

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Docker Buildx cache
.buildx/
.buildkit/
/buildx-cache/
.buildx-cache/
.buildx-cache-new/
