.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app-header-text {
  font-family: 'HeaderFont';
  font-size: 22pt;
}

.window-widget-main {
  margin: 12px;
  min-height: 18pt;
  background-color: black;
  border-radius: 8pt;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.window-widget-header {
  background-color: #282c34ce;
  padding: 4pt 6pt;
  border-radius: 8pt 8pt 0 0;
  font-size: larger;
}

.window-widget-main:hover {
  background-color: slategray;
}

.window-widget-content {
  padding: 12pt;
  margin-top: 1pt;
  margin-bottom: 1pt;
}

.window-widget-footer {
  background-color: #282c34ce;
  padding: 5pt 3pt;
  border-radius: 0pt 0pt 8pt 8pt;
  font-size: small;
}
