.note-outer {
    background-color: #1e2d48;
    box-shadow: 3px 3px 2px -1px rgba(0,0,0,0.55);
    margin: 6pt;
    opacity: .9;
    display: flex;
    flex-direction: row;
    width: max-content;
}

.note-container {
    padding: 8pt 12pt;
    color: rgba(255, 255, 255, 0.879);
    overflow: hidden;
}

.note-pin {
    width: 4pt;
    background-color: #3a5890;
    box-shadow: 2px 0px 12px 0px rgba(0, 18, 26, 0.75);
}

.note-around {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}