.string-list-editor-row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.string-list-editor-row > input {
    width: 100%;
}

.string-map-editor-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.string-map-editor-row input {
    max-width: 100%;
}

.string-map-editor-key {
    font-size: large;
    font-family: monospace;
    width: max-content;
    white-space: nowrap;
    text-align: right;
}